* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  color: rgb(237, 251, 255);
}
@media (max-width: 768px) {
  footer p {
      font-size: 12px;
  }
}